<div class="utilityContainer">
    <div class="returnHomeBtn">
        <a href="/home" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Return Home</a>
    </div>

    <div class="utilitySection">
        <h5>{{ sampleArray.join(", ") }}</h5>
        <button (click)="demoRemoveDuplicates()" class="btn btn-primary btn-lg">Demo Remove Duplicates</button>
    </div>

    <div class="utilitySection">
        <h5>{{ timeoutMessage }}</h5>
        <button (click)="demoDelay()" class="btn btn-primary btn-lg">Demo Delay</button>
    </div>

    <button id="btnToMove" (click)="demoAnimateRight()" class="btn btn-primary btn-lg utilitySection animatedBtn">Demo Animate Right</button>
</div>